<template>
  <div id="app" class="container">
    <h1 class="pageTitle">{{ title }}</h1>
    <div class="col-md-12">
      <div class="row">
        <FontsList v-on:setFont="updateSelectedFont($event)" />
        <FontPreview :selectedFont="selectedFont" />
      </div>
    </div>
  </div>
</template>

<script>
  import './global.scss';
  import FontsList from './components/FontsList/FontsList';
  import FontPreview from './components/FontPreview/FontPreview';
  import { labels } from './constants';

  export default {
    name: 'app',
    data() {
      return {
        title: labels.appTitle,
        selectedFont: ''
      }
    },
    methods: {
      updateSelectedFont(newFont) {
        this.selectedFont = newFont;
      }
    },
    components: {
      FontsList,
      FontPreview
    }
  }
</script>