.FontsList {
  .listHeader {
    margin-bottom: 25px;
    font-size: 25px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-height: 50vh;
    overflow-y: scroll;
    
    li {
      padding: 15px 5px 5px 5px;
      border-bottom: 1px solid #ccc;
      margin-right: 15px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
  
      &:hover,
      &.loaded {
        background: #f1f1f1;
      }
    }
  }
}
