<template>
  <div class="FontsList col-md-4">
    <header class="listHeader">{{ availableFonts }} ({{ loadedFonts.length }}/{{ maxFonts }})</header>
    <ul>
      <li
        v-for="(font, index) in googleFonts"
        :key="index"
        :class="{loaded: loadedFonts.includes(font)}"
        @click="onClick(font.family)"
      >
        <span class="fontName">{{ font.family }}</span>
        <span class="fontSelected" v-if="selectedFont === font.family">&#x2714;</span>
      </li>
    </ul>
  </div>
</template>

<script>
import { fontApiUrl, labels } from '../../constants';
import './FontsList.scss';

export default {
  data() {
    return {
      googleFonts: [],
      loadedFonts: [],
      maxFonts: 50,
      selectedFont: '',
      availableFonts: labels.availableFonts
    }
  },
  methods: {
    fetchFonts() {
      fetch(fontApiUrl)
        .then(res => res.json())
        .then(data => this.googleFonts = data.items);
    },
    onClick(family) {
      const fontLoaded = this.loadedFonts.find(font => font.family === family);
      if (fontLoaded) {
        this.selectedFont = fontLoaded.family;
        this.$emit('setFont', this.selectedFont);
        return;
      }
      if (this.loadedFonts.length >= this.maxFonts) return;
      const findFont = this.googleFonts.find(font => font.family === family);
      if (findFont) this.loadFont(findFont);
    },
    loadFont(loadFont) {
      fetch(loadFont.files.regular)
        .then(resp => resp.arrayBuffer())
        .then(font => {
          this.loadedFonts.push(loadFont);
          this.selectedFont = loadFont.family;
          const fontFace = new FontFace(this.selectedFont, font);
          document.fonts.add(fontFace);
          this.$emit('setFont', this.selectedFont);
      });
    }
  },
  created() {
    this.fetchFonts();
  }
}
</script>
