body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
body .centeredBlock {
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
}
body.center1 {
  position: relative;
}
body.center1 .centeredBlock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: green;
  margin: auto;
}
body.center2 {
  position: relative;
}
body.center2 .centeredBlock {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: blue;
}
body.center3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.center3 .centeredBlock {
  background: red;
}