.FontPreview {
  label {
    font-size: 25px;
  }
  input[type="text"] {
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
  }
  .sample-text {
    font-size: 40px;
  }
}