<template>
  <div class="FontPreview col-md-8">
    <div class="form-group">
      <label for="sample-text-input">{{ title }}</label>
      <input type="text" id="sample-text-input" v-model="text" />
    </div>
    <div class="form-group">
      <span class="sample-text" :style="style">{{ text }}</span>
    </div>
  </div>
</template>

<script>
  import './FontPreview.scss';
  import { labels } from '../../constants';

  export default {
    props: ['selectedFont'],
    computed: {
      style() {
        return `font-family: ${this.selectedFont}, Arial, sans-serif`
      }
    },
    data() {
      return {
        text: labels.sampleValue,
        title: labels.sampleText
      }
    }
  }
</script>