.class-grey {
  color: #404145;
}

.class-yellow {
  color: #ecaf2d;
}

.class-green {
  color: #5ad864;
}

.class-red {
  color: #ce1717d3;
}

.class-blue {
  color: #0c0ccace;
}

.class-pink {
  color: #f76981;
}

.class-dark-green {
  color: #0a630a;
}