$base-palette: (
  'base': #ff6351,
  'colors': #dde8ee #cfdfe8 #bfb9c3 #cf9192 #ff6351 #bf413c #7f3128 #732c24 #66241d #521913
);

@function adjust-colors($a, $b) {
  $sat: saturation($a) - saturation($b);
  $lig: lightness($a) - lightness($b);
  $fn-sat: if($sat > 0, 'desaturate', 'saturate');
  $fn-lig: if($lig > 0, 'darken', 'lighten');

  @return (
    adjust-hue: -(hue($a) - hue($b)),
    #{$fn-sat}: abs($sat),
    #{$fn-lig}: abs($lig)
  );
}

@function adjadjust-palette($palette) {
  $base: map-get($palette, 'base');
  $colors: map-get($palette, 'colors');
  $diffs: ();

  @each $color in $colors {
    $diffs: append($diffs, adjust-colors($base, $color));
  }

  @return $diffs;
}

@function apply-palette-difference($color, $diff) {
  @each $function, $value in $diff {
    $color: call($function, $color, $value);
  }

  @return $color;
}

$palette-result: adjadjust-palette($base-palette);

@function create-palette($base-color) {
  $palette: ();

  @each $diff in $palette-result {
    $palette: append($palette, apply-palette-difference($base-color, $diff));
  }

  @return $palette;
}

@function palette($base-color) {
  $colors: create-palette($base-color);
  $keys: 'lightest' 'lighter-10' 'lighter' 'light' 'base' 'dark' 'darker' 'darker-10' 'darker-20' 'darkest';
  $palette: ();

  @for $i from 1 through min(length($colors), length($keys)) {
    $palette: map-merge($palette, (nth($keys, $i): nth($colors, $i)));
  }

  @return $palette;
}

$green-palette: palette(lightgreen);

@mixin class-list {
  @each $name, $hex in $green-palette {
    .class-#{$name} {
      color: $hex 
    }
  }
}

@include class-list;
